!!!
%html{:lang => "en"}
  %meta{charset:"utf-8"}/
  %meta{content:"IE=edge", "http-equiv" => "X-UA-Compatible"}/
  %meta{content:"width=device-width, initial-scale=1", :name => "viewport"}/
  %title Blog
  / Bootstrap
  %link{href:"style/bootstrap.min.css", rel:"stylesheet"}/
  %link{:href => "style/owl.carousel.css", :rel => "stylesheet"}/
  %link{:href => "style/owl.transitions.css", :rel => "stylesheet"}/
  %link{:href => "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", :rel => "stylesheet"}/
  %link{href:"fonts/styles.css", rel:"stylesheet"}
  %link{href:"style.css", rel:"stylesheet"}/
  %body
    %header.header.clearfix
      %a{href:""}
        %img.logo{src:"images/logo.png", alt:"Skokov", width:"116", height:"116"}
      %nav.menu
        %ul
          %li
            %a{href:""} Home
          %li
            %a{href:""} Portfolio
          %li
            %a{href:""} Blog
          %li
            %a{href:""} About us
          %li
            %a{href:""} contact
    %section.page-title
      %h1 Blog

    %section.content
      #container.js-masonry
        .quote.item
          %blockquote
            "Ability may get you to the top, but it takes
            character to keep you there."
            %cite John Wooden
        %article.item
          .img-cont
            %img{src:"images/news-img.jpg", width:"550", height:"400"}
          .news-cont.arrow_box
            %a{href:""}
              %h2
                17 Inspiring Examples of Parallax
                Scrolling Sites
            %p
              When it comes to parallax scrolling, the line that separates good and
              bad choices is pretty thin. A while back parallax was being used to
              deliver an explosion of elements floating around the screen.
            %button.like
              %img{src:"images/like-icon.png", alt:"Like it", width:"13", height:"10" }
              15
            .post-info
              %a.author{href:""}
                by John Doe
              %span /
              %a.comm{href:""} 4 comments
              %span /
              %span.date-public Oct. 12, 2013
        %article.item
          .img-cont
            %img{src:"images/news-img.jpg", width:"550", height:"400"}
          .news-cont.arrow_box
            %a{href:""}
              %h2
                17 Inspiring Examples of Parallax
                Scrolling Sites
            %p
              When it comes to parallax scrolling, the line that separates good and
              bad choices is pretty thin. A while back parallax was being used to
              deliver an explosion of elements floating around the screen.
            %button.like
              %img{src:"images/like-icon.png", alt:"Like it", width:"13", height:"10" }
              15
            .post-info
              %a.author{href:""}
                by John Doe
              %span /
              %a.comm{href:""} 4 comments
              %span /
              %span.date-public Oct. 12, 2013
        %article.item
          .img-cont
            %img{src:"images/news-img.jpg", width:"550", height:"400"}
          .news-cont.arrow_box
            %a{href:""}
              %h2
                17 Inspiring Examples of Parallax
                Scrolling Sites
            %p
              When it comes to parallax scrolling, the line that separates good and
              bad choices is pretty thin. A while back parallax was being used to
              deliver an explosion of elements floating around the screen.
            %button.like
              %img{src:"images/like-icon.png", alt:"Like it", width:"13", height:"10" }
              15
            .post-info
              %a.author{href:""}
                by John Doe
              %span /
              %a.comm{href:""} 4 comments
              %span /
              %span.date-public Oct. 12, 2013
        %article.item
          .img-cont
            %img{src:"images/news-img.jpg", width:"550", height:"400"}
          .news-cont.arrow_box
            %a{href:""}
              %h2
                17 Inspiring Examples of Parallax
                Scrolling Sites
            %p
              When it comes to parallax scrolling, the line that separates good and
              bad choices is pretty thin. A while back parallax was being used to
              deliver an explosion of elements floating around the screen.
            %button.like
              %img{src:"images/like-icon.png", alt:"Like it", width:"13", height:"10" }
              15
            .post-info
              %a.author{href:""}
                by John Doe
              %span /
              %a.comm{href:""} 4 comments
              %span /
              %span.date-public Oct. 12, 2013
        %article.item
          .img-cont
            %img{src:"images/news-img.jpg", width:"550", height:"400"}
          .news-cont.arrow_box
            %a{href:""}
              %h2
                17 Inspiring Examples of Parallax
                Scrolling Sites
            %p
              When it comes to parallax scrolling, the line that separates good and
              bad choices is pretty thin. A while back parallax was being used to
              deliver an explosion of elements floating around the screen.
            %button.like
              %img{src:"images/like-icon.png", alt:"Like it", width:"13", height:"10" }
              15
            .post-info
              %a.author{href:""}
                by John Doe
              %span /
              %a.comm{href:""} 4 comments
              %span /
              %span.date-public Oct. 12, 2013
        %article.item
          .img-cont
            %img{src:"images/news-img.jpg", width:"550", height:"400"}
          .news-cont.arrow_box
            %a{href:""}
              %h2
                17 Inspiring Examples of Parallax
                Scrolling Sites
            %p
              When it comes to parallax scrolling, the line that separates good and
              bad choices is pretty thin. A while back parallax was being used to
              deliver an explosion of elements floating around the screen.
            %button.like
              %img{src:"images/like-icon.png", alt:"Like it", width:"13", height:"10" }
              15
            .post-info
              %a.author{href:""}
                by John Doe
              %span /
              %a.comm{href:""} 4 comments
              %span /
              %span.date-public Oct. 12, 2013
        %article.item
          .img-cont
            %img{src:"images/news-img.jpg", width:"550", height:"400"}
          .news-cont.arrow_box
            %a{href:""}
              %h2
                17 Inspiring Examples of Parallax
                Scrolling Sites
            %p
              When it comes to parallax scrolling, the line that separates good and
              bad choices is pretty thin. A while back parallax was being used to
              deliver an explosion of elements floating around the screen.
            %button.like
              %img{src:"images/like-icon.png", alt:"Like it", width:"13", height:"10" }
              15
            .post-info
              %a.author{href:""}
                by John Doe
              %span /
              %a.comm{href:""} 4 comments
              %span /
              %span.date-public Oct. 12, 2013
      %ul.pag
        %li
          %a{href:""} Prev
        %li
          %a{href:""}1
        %li
          %a{href:""}2
        %li
          %a{href:""}3
        %li
          %a{href:""}4
        %li
          %a{href:""}...
        %li
          %a{href:""}19
        %li
          %a{href:""}20
        %li
          %a{href:""} Next
    %aside.sidebar
      %section.search
        %form{action:"", method:"Post"}
          %input{type:"search", name:"s", placeholder:"Search..."}
          %input{type:"submit", value:"", name:"go"}
      %section.categories
        %h3 Categories
        %ul
          %li
            %a{href:""} web design
          %li
            %a{href:""} Branding
          %li
            %a{href:""} business
          %li
            %a{href:""} Inspiration
          %li
            %a{href:""} marketing
          %li
            %a{href:""} html
          %li
            %a{href:""} css
          %li
            %a{href:""} news
          %li
            %a{href:""} mobile
          %li
            %a{href:""} Usability
      %section.archive
        %h3 Archive
        %ul
          %li
            %a{href:""} October (7)
          %li
            %a{href:""} September (9)
          %li
            %a{href:""} august (12)
          %li
            %a{href:""} january (1)
          %li
            %a{href:""} july (12)
          %li
            %a{href:""} june (12)
          %li
            %a{href:""} may (12)
          %li
            %a{href:""} april (12)
          %li
            %a{href:""} march (12)
          %li
            %a{href:""} february (12)
      %section.popular-posts
        %h3 Popular posts
        %ul
          %li
            %img{src:"images/popular-img.jpg", width:"100", height:"70"}
            %a{href:""}
              %h2
                15 Fresh Examples of Clean and
                Minimal Web Designs
            %span.data-publication Oct. 09, 2013
            %button.like-post
              %img{src:"images/popular-like.png", width:'13', height:'10'}
              21
          %li
            %img{src:"images/popular-img.jpg", width:"100", height:"70"}
            %a{href:""}
              %h2
                15 Fresh Examples of Clean and
                Minimal Web Designs
            %span.data-publication Oct. 09, 2013
            %button.like-post
              %img{src:"images/popular-like.png", width:'13', height:'10'}
              21
          %li
            %img{src:"images/popular-img.jpg", width:"100", height:"70"}
            %a{href:""}
              %h2
                15 Fresh Examples of Clean and
                Minimal Web Designs
            %span.data-publication Oct. 09, 2013
            %button.like-post
              %img{src:"images/popular-like.png", width:'13', height:'10'}
              21
          %li
            %img{src:"images/popular-img.jpg", width:"100", height:"70"}
            %a{href:""}
              %h2
                15 Fresh Examples of Clean and
                Minimal Web Designs
            %span.data-publication Oct. 09, 2013
            %button.like-post
              %img{src:"images/popular-like.png", width:'13', height:'10'}
              21
          %li
            %img{src:"images/popular-img.jpg", width:"100", height:"70"}
            %a{href:""}
              %h2
                15 Fresh Examples of Clean and
                Minimal Web Designs
            %span.data-publication Oct. 09, 2013
            %button.like-post
              %img{src:"images/popular-like.png", width:'13', height:'10'}
              21
      %section.tags
        %h3 tags
        %ul
          %li
            %a{href:""} web design
          %li
            %a{href:""} html5
          %li
            %a{href:""} inspiration
          %li
            %a{href:""} photo
          %li
            %a{href:""} css
          %li
            %a{href:""} illustration
          %li
            %a{href:""} design
          %li
            %a{href:""} wordpress
          %li
            %a{href:""} business
          %li
            %a{href:""} theme
          %li
            %a{href:""} joomla
    %section.contact
      %article.about-us
        %h4 About Us
        %p
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
          sed diam nonummy nibh euismod tincidunt ut
          laoreet dolore magna aliquam erat volutpat. Ut wisi
          enim ad minim veniam, quis nostrud exerci tation ullamcorper
          suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        %a.lrn-btn.hvr-lrn-btn{href:"#"} Learn more
        %h4 Photo Stream
        %ul.photo-stream.list-inline
          %li
            %a
              %img{src:"images/photo-stream-1.jpg", alt:"", width:"130", height:"70"}
          %li
            %a
              %img{src:"images/photo-stream-2.jpg", alt:"", width:"130", height:"70"}
          %li
            %a
              %img{src:"images/photo-stream-3.jpg", alt:"", width:"130", height:"70"}
          %li
            %a
              %img{src:"images/photo-stream-4.jpg", alt:"", width:"130", height:"70"}
          %li
            %a
              %img{src:"images/photo-stream-5.jpg", alt:"", width:"130", height:"70"}
          %li
            %a
              %img{src:"images/photo-stream-6.jpg", alt:"", width:"130", height:"70"}
      %article.scl
        %h4 Latest tweets
        %a.twitter-timeline{"data-aria-polite" => "assertive", "data-border-color" => "#FFFFFF", "data-chrome" => "noheader nofooter noborders noscrollbar transparent", "data-link-color" => "#FFEA00", "data-screen-name" => "_developin", "data-show-replies" => "false", "data-theme" => "dark", "data-tweet-limit" => "3", "data-widget-id" => "566553618976083968", :lang => "EN"}
        %script{:async => "", :charset => "utf-8", :src => "//platform.twitter.com/widgets.js"}
        %h4.social-title Social Connecting
        .scl-cont
          %a.social{:href => "#", :target => "_blank"}
            .front
              %i.fa.fa-facebook
            .back
              %i.fa.fa-facebook
          %a.social.social-twitter{:href => "#", :target => "_blank"}
            .front
              %i.fa.fa-twitter
            .back
              %i.fa.fa-twitter
          %a.social.social-youtube{:href => "#", :target => "_blank"}
            .front
              %i.fa.fa-youtube
            .back
              %i.fa.fa-youtube
          %a.social.social-pinterest{:href => "#", :target => "_blank"}
            .front
              %i.fa.fa-pinterest
            .back
              %i.fa.fa-pinterest
          %a.social.social-googleplus{:href => "#", :target => "_blank"}
            .front
              %i.fa.fa-google-plus
            .back
              %i.fa.fa-google-plus
          %a.social.social-skype{:href => "#", :target => "_blank"}
            .front
              %i.fa.fa-skype
            .back
              %i.fa.fa-skype
          %a.social.social-linkedin{:href => "#", :target => "_blank"}
            .front
              %i.fa.fa-linkedin
            .back
              %i.fa.fa-linkedin
          %a.social.social-skype{:href => "#", :target => "_blank"}
            .front
              %i.fa.fa-skype
            .back
              %i.fa.fa-skype
          %a.social.social-dribbble{:href => "#", :target => "_blank"}
            .front
              %i.fa.fa-dribbble
            .back
              %i.fa.fa-dribbble
      %article.contact-info
        %h4 Contact Info
        %address
          %dl.dl-horizontal
            %dt.contact-address Address:
            %dd
              12569 Saint Patrick des Prés,
              85000 Paris, France
            %dt.contact-tel Phone:
            %dd +38 045 845-45-78
            %dd +38 045 845-45-79
            %dt.contact-email E-mail:
            %dd
              %a{href:"#"}
                freeforwebdesign@gmail.com
        %h4 Follow Us
        %p
          Lorem Ipsum is simply dummy text of the printing
          and typesetting industry.
        %form.spam-form
          %input{type:"email"}
          %input.spam-email{type:"submit", value:""}
    %footer.footer.clearfix
      .site-info
        %span.copyright Copyright 2013
        %span &#45;
        %span.copyright FreeForWebDesign.com
        %span &#45;
        %span.copyright All Rights Reserved
      %nav.foot-nav
        %ul.list-inline
          %li
            %a{href:"#"} Home
          %li
            %a{href:"#"} Portfolio
          %li
            %a{href:"#"} Blog
          %li
            %a{href:"#"} About Us
          %li
            %a{href:"#"} Contact










    / jQuery (necessary for Bootstrap's JavaScript plugins)
    %script{:src => "js/jquery-2.1.3.min.js"}
    / Include all compiled plugins (below), or include individual files as needed
    %script{:src => "js/masonry.pkgd.min.js"}
